[Desktop Entry]
Name=Cliente de Correo Guácharo
Comment=Lea y escriba correos electrónicos
GenericName=Cliente de Correo
Exec=guacharo %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=guacharo
Categories=Network;Email;News;GTK;
MimeType=message/rfc822;
StartupWMClass=Guacharo-bin
StartupNotify=true
Name[ca]=Client de correu Guacharo
Name[cs]=Poštovní klient Guacharo
Name[fi]=Guacharo-sähköposti
Name[fr]=Messagerie Guacharo
Name[pl]=Klient poczty Guacharo
Name[pt_BR]=Cliente de E-mail Guacharo
Name[sv]=E-postklienten Guacharo
Name[es_VE]=Cliente de Correo Guacharo
Name[es]=Cliente de Correo Guacharo
Comment[ca]=Llegiu i escriviu correu
Comment[cs]=Čtení a psaní pošty
Comment[de]=Emails lesen und verfassen
Comment[fi]=Lue ja kirjoita sähköposteja
Comment[fr]=Lire et écrire des courriels
Comment[it]=Leggere e scrivere email
Comment[ja]=メールの読み書き
Comment[pl]=Czytanie i wysyłanie e-maili
Comment[pt_BR]=Ler e escrever suas mensagens
Comment[sv]=Läs och skriv e-post
Comment[es_VE]=Lea y escriba correos electrónicos
Comment[es]=Lea y escriba correos electrónicos
